*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


aside{
    background-color: black;
    width: 180px;
    height: 100vh;
    float: left;
}

header{
    height: 70px;
    width: calc(100% - 180px);
    float: left;
    background-color: rgba(0, 0, 0, 0.9);
}

.header-content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
   
}

.header-content span{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px white solid;
    height: 30px;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px 20px;
    letter-spacing: 1px;
}

main{
    width: calc(100% - 180px);
    height: 600px;
    background-color: coral;
    float: left;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: grey;
}



