*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
}

/*classi utility*/
.fl{
    float: left;
}

.row::after{
    display: table;
    clear: both;
    content:"";
}



/*fine classi utility*/

aside{
    background-color: black;
    width: 180px;
    height:calc(100vh - 60px);

}

.aside-content{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.logo-container{
    width: 120px;
    padding-top: 10px;
    margin-bottom: 6px;
}

.logo-container img:nth-child(1){
    width: 100%;
}

.logo-container img:nth-child(2){
    display: none;
}

.icon-text-aside{
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
    color: rgb(102, 98, 99);
    margin-bottom: 5px;
}

.icon-aside{
    width: 30px;
}

.icon-aside img{
    width: 100%;
}

.icon-text-aside span{
    margin-left: 5px;
}

h6{
    text-transform: uppercase;
    font-size: 12px;
}


.quadrato-sidebar{
    width: 35px;
    height: 35px;
    background-color: lightgrey;
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.quadrato-sidebar span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 500;
    color: black;
}

.quadrato-text-container{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quadrato-text-container span.text-playlist{
    font-size: 15px;
}

.side-top{
    margin-top: 12px;
    margin-bottom: 12px;
}

.side-mid{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    min-height: 140px;
    color: rgb(102, 98, 99);
}

ul{
    list-style: none;
    color: rgb(102, 98, 99);
    font-size: 10px;
}

ul li{
    margin-top: 15px;
}

.side-bottom{
    font-size: 10px;
}

hr{
    margin: 10px 0;
}

.user-side{
    font-size: 18px;
}

.side-bottom .side-icon-text{
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(102, 98, 99);
}

.last-aside{
    margin-bottom: 7px;
}



header{
    position: fixed;
    height: 70px;
    width: calc(100% - 180px);
    background-color: rgba(0, 0, 0, 0.9);
}

.header-content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
   
}

.header-content span{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px white solid;
    height: 30px;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px 20px;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
}

main{
    width: calc(100% - 180px);
    height: calc(100vh - 60px);
    background-color: #141616; 
    overflow-y: scroll;
    
}

.main-content{
    margin-top: 70px;
    height: calc(100vh - 140px);
}

.main-tags{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    padding-top: 15px;
}

.main-tags span{
    text-transform: uppercase;
    color: rgb(102, 98, 99);
    font-weight: bold;
    font-size: 13px;
}

.main-tags span:hover{
    border-bottom: 2px solid rgb(92, 199, 21);
}

.albums{
    width: 98%;
    padding-top: 30px;
    margin: 0 auto;
}

 h2{
    font-size: 20px;
}

h5{
    color: rgb(102, 98, 99);
    margin-top: 10px;
}

.item-container{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.item{
    width: calc((100% / 6) - 10px) ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-container-1{
    width: 100%;
    height: 153px;
    position: relative;
    background: url('../img/metal_lifting.jpg') no-repeat center;
    background-size: cover;
}

.album-container-1{
    width: 100%;
    height: 153px;
    position: relative;
    background: url('../img/metal_lifting.jpg') no-repeat center;
    background-size: cover;
}

.album-container-2{
    width: 100%;
    height: 153px;
    position: relative;
    background: url('../img/stranger.jpeg') no-repeat center;
    background-size: cover;
}

.album-container-3{
    width: 100%;
    height: 153px;
    position: relative;
    background: url('../img/aquietplace.jpeg') no-repeat center;
    background-size: cover;
}

.album-container-4{
    width: 100%;
    height: 153px;
    position: relative;
    background: url('../img/split.jpeg') no-repeat center;
    background-size: cover;
}

.album-container-5{
    width: 100%;
    height: 153px;
    position: relative;
    background: url('../img/cure.jpeg') no-repeat center;
    background-size: cover;
}

.album-container-6{
    width: 100%;
    height: 153px;
    position: relative;
    background: url('../img/sinister.jpeg') no-repeat center;
    background-size: cover;
}
.album-container img{
    width: 100%;
}

.player-item{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;

}

.player-item i{
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.album-container:hover .player-item{
    display: inline-block;
}

.item span{
    margin-top: 15px;
}

.subtitle{
    font-size: 11px;
    color: rgb(102, 98, 99);
}

.brani-creati-per-te,.brani-popolari{
    margin-top: 30px;
}

.dailymix-container,.popular-container{
    display: flex;
    width: 100%;
    gap: 10px;
    margin-top: 30px;
}

.dailymix-container .radar-container img{
    width: 100%;
}


.circle-container-1{
    border-radius: 50%;
    overflow: hidden;
}

 .circle-container-2{
    border-radius: 50%;
    overflow: hidden;
} 

.circle img{
    width: 100%;
}


footer{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(39, 38, 38);
}

.footer-left,.footer-right{
    width: 180px;
    max-width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;

}

.footer-center{
    display: flex;
    width: calc(100% - 360px);
    min-width: calc(100% / 3);
    flex-grow: 1; 
    height: 100%;
}

.footer-img{
    width: 30px;
}

.footer-img img{
    width: 100%;
}

.double-text{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 20px;
}

.double-text span:nth-child(2){
    color: rgb(102, 98, 99);
}

.footer-left span i{
    font-size: 13px;
    margin-right: 10px;
}

.footer-center-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.player{
    display: flex;
    align-items: center;
    gap: 10px;
}

.player *{
    display: flex;
    width: 100%;
}

.play-circle{
    margin: 0 20px;
    font-size: 25px;
}

.input-range{
    display: flex;
    align-items: center;
    width: 60%;
    
}

.input-range *{
    display: flex;
}

.input-range span{
    font-size: 11px;
}

.range{
    height: 3px;
    width: 100%;
    background-color: rgb(102, 98, 99);
    margin: 0 10px;
    display: flex;
}

.range-hover{
    height: 100%;
    width: 25%;
    background-color: white;
}

.pallino-range{
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 60px;
    bottom: 6px;
    display: none;

}

.range-hover:hover{
    background-color: chartreuse;
    cursor: pointer;
}

.range-hover:hover + .pallino-range{
   display: block;

}

.footer-right span{
    margin-right: 10px;
    font-size: 11px;
}

.range-2{
    
        height: 3px;
        width: 100px;
        background-color: rgb(102, 98, 99);
        margin: 0 10px;
        position: relative;
    
}

.white-hover:hover{
    color: white;
    cursor: pointer;
}

.range-2-hover{
    height: 100%;
    width: 30px;
    background-color: white;
}

/* mobile */
@media screen and (max-width:768px){
    aside{
        width: 45px;
    }

    header{
        width: calc(100% - 45px);
    }
    .side-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .icon-text-aside span{
        display: none;
    }

    .side-mid{
        opacity: 0;
    }

    .side-bottom .side-icon-text span:nth-child(2){
        display: none;
    }

    .side-bottom hr{
        display: none;
    }

    .side-icon-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .icon-aside{
        width: 20px;
    }

    .logo-container img:nth-child(1){
        display: none;
    }

    .logo-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        margin-left: 11px;
    }

    .logo-container img:nth-child(2){
        display: inline-block;
        width: 100%;
    }

    main{
        width: calc(100% - 45px);
    }

    .item-container{
        flex-wrap: wrap;
    }

    .item{
      
        width: calc((100% / 2) - 10px);
    }

    
}


/* tablet */
@media screen and(max-width:992px){
    .item-container{
        flex-wrap: wrap;
    }
    .item{
        width: calc((100% / 4)-10px);
    }
}





